<!DOCTYPE html>
<html lang="ms">
<head>
<meta charset="UTF-8">
<title>Dashboard Analisis PBD</title>

<style>

body{
font-family:Segoe UI;
background:#f4f6f9;
padding:40px;
}


hr{
margin:35px 0;
border:none;
border-top:2px solid #eee;
}

.section-title{
margin-top:20px;
color:#2c3e50;
}

.container{
max-width:800px;
margin:auto;
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

h1{
text-align:center;
margin-bottom:20px;
}

.list{
margin-top:20px;
}

.teacher{
padding:10px;
border-bottom:1px solid #eee;
}

</style>
</head>

<body>

<div class="container">

<h1>Dashboard Analisis</h1>

<h2>Lampiran A</h2>
<div id="listA" class="list"></div>

<hr>

<h2>Lampiran B</h2>
<div id="listB" class="list"></div>

<hr>


<h2>Lampiran C</h2>
<h3>Senarai Guru Yang Telah Mengisi Borang</h3>
<div id="listC" class="list"></div>

<div id="teacherList" class="list"></div>

</div>

<script>

const sheetURL = "https://docs.google.com/spreadsheets/d/e/2PACX-1vR8Tl5sDCaVKwe35rLITcvOHnLTTzfCDRxEKXE1fN4unnQyXSRKTbo4vT9OtussZJyOIFEP1bhF5M6j/pub?output=csv";


fetch(sheetURL)
.then(res => res.text())
.then(data => {

const rows = data.split("\n").slice(1);

const listC = document.getElementById("listC");

rows.forEach(row => {

const cols = row.split(",");

const nama = cols[1];

if(nama){

const div = document.createElement("div");
div.className = "teacher";
div.innerText = nama;

listC.appendChild(div);

}

});

});

</script>

</body>
</html>
