<!DOCTYPE html>
<html lang="ms">
<head>
<meta charset="UTF-8">
<title>Dashboard Analisis</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://cdn.jsdelivr.net/npm/papaparse@5.4.1/papaparse.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function(){
if (typeof ChartDataLabels !== "undefined") {
Chart.register(ChartDataLabels);
}
});
</script>

<style>

/* DROPDOWN MATA PELAJARAN */




.section-content.active{
display:block;
opacity:1;
}

/* hover */

#filterMP:hover,
#filterMP_B:hover,
#filterMP_C:hover{
border-color:#3498db;
}

#filterMP:focus,
#filterMP_B:focus,
#filterMP_C:focus{
outline:none;
border-color:#3498db;
box-shadow:0 0 0 2px rgba(52,152,219,0.2);
}

body{
font-family:Segoe UI;
background:#f4f6f9;
padding:40px;
}

.section-tabs{
display:flex;
gap:10px;
margin:25px 0;
}

.section-btn{
flex:1;
padding:12px;
border:none;
border-radius:6px;
background:#ecf0f1;
cursor:pointer;
font-weight:600;
}

.section-btn.active{
background:#099A36;
color:white;
}

.section-content{
display:none;
opacity:0;
transform:translateY(10px);
transition:all 0.3s ease;
}

.section-content.active{
display:block;
opacity:1;
transform:translateY(0);
}
  
.bar-chart-box{
width:500px;
height:300px;
margin:20px auto;
}

.chart-box{
width:300px;
margin:auto;
}

.container{
max-width:800px;
margin:auto;
background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

h1{
text-align:center;
margin-bottom:25px;
}

/* TAB BUTTON */

.tabs{
display:flex;
gap:10px;
margin-bottom:20px;
}

.tab-btn{
flex:1;
padding:12px;
border:none;
border-radius:6px;
background:#ecf0f1;
cursor:pointer;
font-weight:600;
}

.tab-btn.active{
background:#3498db;
color:white;
}

/* TAB CONTENT */

.tab-content{
display:none;
}

.tab-content.active{
display:block;
}

.list{
margin-top:10px;
}

.teacher{
padding:10px;
border-bottom:1px solid #eee;
}

.teacher b{
font-size:15px;
color:#2c3e50;
}

.teacher{
line-height:1.7;
}

.session-tabs{
display:flex;
gap:10px;
margin-bottom:20px;
}

.session-btn{
flex:1;
padding:12px;
border:none;
border-radius:6px;
background:#ecf0f1;
cursor:pointer;
font-weight:600;
}

.session-btn.active{
background:#2c3e50;
color:white;
}

.filter-box{
margin:10px 0 20px 0;
}

.filter-box label{
display:block;
font-weight:600;
margin-bottom:6px;
}

#filterMP,
#filterMP_B,
#filterMP_C{
padding:10px 14px;
font-size:14px;
border-radius:6px;
border:1px solid #dcdde1;
background:#fff;
box-shadow:0 2px 5px rgba(0,0,0,0.05);
cursor:pointer;
margin-top:6px;
margin-bottom:10px;
transition:all 0.2s ease;

/* custom dropdown arrow */
appearance:none;
background-image:url("data:image/svg+xml;utf8,<svg fill='%233498db' height='20' viewBox='0 0 20 20' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M5 7l5 5 5-5z'/></svg>");
background-repeat:no-repeat;
background-position:right 10px center;
padding-right:35px;
}

</style>
</head>

<body>

<div class="container">

<h1>Dashboard Analisis</h1>

<div class="session-tabs">
<button class="session-btn active" onclick="switchSession('pertengahan',this)">
Pertengahan Tahun
</button>

<button class="session-btn" onclick="switchSession('akhir',this)">
Akhir Tahun
</button>
</div>

<div class="tabs">
<button class="tab-btn active" onclick="openTab('A',this)">Lampiran A</button>
<button class="tab-btn" onclick="openTab('B',this)">Lampiran B</button>
<button class="tab-btn" onclick="openTab('C',this)">Lampiran C</button>
</div>

<div id="tabA" class="tab-content active">

<h3>Lampiran A</h3>

<p id="jumlahA"><b>Jumlah respon: 0 guru</b></p>

<div id="listA" class="list"></div>

</div>

<div id="tabB" class="tab-content">

<h3>Lampiran B</h3>

<div class="section-tabs">
<button class="section-btn active" onclick="openSectionB('A',this)">Bahagian A</button>
<button class="section-btn" onclick="openSectionB('B',this)">Bahagian B</button>
<button class="section-btn" onclick="openSectionB('C',this)">Bahagian C</button>
</div>

<!-- Bahagian A -->

<div id="sectionBA" class="section-content active">

<h2>Maklumat Guru Mata Pelajaran</h2>

<p id="jumlahB"><b>Jumlah respon: 0 guru</b></p>

<div id="listB" class="list"></div>

</div>



<!-- ======================= -->
<!-- BAHAGIAN B              -->
<!-- ======================= -->

<div id="sectionBB" class="section-content">

<h2>Bahagian B: Peranan Guru</h2>

<div class="filter-box">
<label>Tapis Mata Pelajaran</label>

<select id="filterMP_B" onchange="loadLampiranB()">
<option value="SEMUA">Semua Mata Pelajaran</option>
<option value="Bahasa Melayu">Bahasa Melayu</option>
<option value="Bahasa Inggeris">Bahasa Inggeris</option>
<option value="Bahasa Arab">Bahasa Arab</option>
<option value="Matematik">Matematik</option>
<option value="Sains">Sains</option>
<option value="Sejarah">Sejarah</option>
<option value="Reka Bentuk dan Teknologi">Reka Bentuk dan Teknologi</option>
<option value="Pendidikan Jasmani Dan Kesihatan">Pendidikan Jasmani Dan Kesihatan</option>
<option value="Pendidikan Seni Visual">Pendidikan Seni Visual</option>
<option value="Pendidikan Islam">Pendidikan Islam</option>
<option value="Pendidikan Moral">Pendidikan Moral</option>
<option value="Pendidikan Muzik">Pendidikan Muzik</option>
</select>

</div>
<p id="noDataMsgB" style="display:none;color:red;font-weight:bold;margin-top:10px;">
Tiada data bagi mata pelajaran ini
</p>
<p id="jumlahMP_B" style="margin-top:8px;font-weight:bold;"></p>

<h3>1.1 Memahami kepentingan Pentaksiran Bilik Darjah (PBD).</h3>
<div class="bar-chart-box">
<canvas id="chartBB11"></canvas>
</div>

<h3>1.2 Menguasai konsep PBD merujuk kepada panduan pelaksanaan PBD yang sedang berkuat kuasa.</h3>
<div class="bar-chart-box">
<canvas id="chartBB12"></canvas>
</div>

<h3>1.3 Menguasai pelaksanaan PBD merujuk kepada kandungan kurikulum semasa.</h3>
<div class="bar-chart-box">
<canvas id="chartBB13"></canvas>
</div>

<h3>1.4 Menguasai kaedah pentaksiran merujuk kepada kandungan kurikulum semasa.</h3>
<div class="bar-chart-box">
<canvas id="chartBB14"></canvas>
</div>

<h3>1.5 Menguasai instrumen pentaksiran merujuk kepada kandungan kurikulum semasa.</h3>
<div class="bar-chart-box">
<canvas id="chartBB15"></canvas>
</div>

<h3>1.6 Memberi sokongan profesional berterusan kepada guru dalam melaksanakan PBD.</h3>
<div class="chart-box">
<canvas id="chartBB16"></canvas>
</div>

<h3>1.7 Menyemak instrumen ujian akhir sesi akademik mengikut format dan Jadual Spesifikasi Ujian (JSU) yang ditetapkan (bagi pentaksiran sumatif).</h3>
<div class="chart-box">
<canvas id="chartBB17"></canvas>
</div>

</div>
<!-- Bahagian C -->

<div id="sectionBC" class="section-content">

<h2>Bahagian C: PENGURUSAN DAN PELAKSANAAN PENJAMINAN MUTU</h2>

<div class="filter-box">
<label>Tapis Mata Pelajaran</label>

<select id="filterMP_BC" onchange="syncFilterMP()">
<option value="SEMUA">Semua Mata Pelajaran</option>
<option value="Bahasa Melayu">Bahasa Melayu</option>
<option value="Bahasa Inggeris">Bahasa Inggeris</option>
<option value="Bahasa Arab">Bahasa Arab</option>
<option value="Matematik">Matematik</option>
<option value="Sains">Sains</option>
<option value="Sejarah">Sejarah</option>
<option value="Reka Bentuk dan Teknologi">Reka Bentuk dan Teknologi</option>
<option value="Pendidikan Jasmani Dan Kesihatan">Pendidikan Jasmani Dan Kesihatan</option>
<option value="Pendidikan Seni Visual">Pendidikan Seni Visual</option>
<option value="Pendidikan Islam">Pendidikan Islam</option>
<option value="Pendidikan Moral">Pendidikan Moral</option>
<option value="Pendidikan Muzik">Pendidikan Muzik</option>
</select>

</div>
<p id="noDataMsgBC" style="display:none;color:red;font-weight:bold;margin-top:10px;">
Tiada data bagi mata pelajaran ini
</p>
<p id="jumlahMPBC" style="margin-top:8px;font-weight:bold;"></p>

<h3>1.1 Merujuk Panduan Pengurusan Pentaksiran Berasaskan Sekolah (PBS) yang sedang berkuat kuasa.</h3>
<div class="chart-box">
<canvas id="chartBC11"></canvas>
</div>

<h3>1.2 Merujuk Panduan Pelaksanaan Pentaksiran Bilik Darjah (PBD) yang sedang berkuat kuasa.</h3>
<div class="chart-box">
<canvas id="chartBC12"></canvas>
</div>

<h3>2.1 Melaksanakan aktiviti pembangunan profesionalisme berterusan kepada guru bagi meningkatkan pengetahuan, kefahaman dan kemahiran dalam pelaksanaan PBD.</h3>
<div class="bar-chart-box">
<canvas id="chartBC21"></canvas>
</div>

<h3>2.2 Memberi bimbingan tentang pelaksanaan dan pengoperasian PBD kepada guru mengikut keperluan.</h3>
<div class="bar-chart-box">
<canvas id="chartBC22"></canvas>
</div>

</div>





<div id="tabC" class="tab-content">

<h3>Lampiran C</h3>

<div class="section-tabs">
<button class="section-btn active" onclick="openSectionC('A',this)">Bahagian A</button>
<button class="section-btn" onclick="openSectionC('B',this)">Bahagian B</button>
<button class="section-btn" onclick="openSectionC('C',this)">Bahagian C</button>
</div>


<!-- ======================= -->
<!-- BAHAGIAN A              -->
<!-- ======================= -->

<div id="sectionCA" class="section-content active">

<h2>Maklumat Guru Mata Pelajaran</h2>

<p id="jumlahCA"><b>Jumlah respon: 0 guru</b></p>

<div id="listCA" class="list"></div>

</div>


<!-- ======================= -->
<!-- BAHAGIAN B              -->
<!-- ======================= -->

<div id="sectionCB" class="section-content">

<h2>Bahagian B: Peranan Guru</h2>

<div class="filter-box">
<label>Tapis Mata Pelajaran</label>

<select id="filterMP" onchange="syncFilterMP()">
<option value="SEMUA">Semua Mata Pelajaran</option>
<option value="Bahasa Melayu">Bahasa Melayu</option>
<option value="Bahasa Inggeris">Bahasa Inggeris</option>
<option value="Bahasa Arab">Bahasa Arab</option>
<option value="Matematik">Matematik</option>
<option value="Sains">Sains</option>
<option value="Sejarah">Sejarah</option>
<option value="Reka Bentuk dan Teknologi">Reka Bentuk dan Teknologi</option>
<option value="Pendidikan Jasmani Dan Kesihatan">Pendidikan Jasmani Dan Kesihatan</option>
<option value="Pendidikan Seni Visual">Pendidikan Seni Visual</option>
<option value="Pendidikan Islam">Pendidikan Islam</option>
<option value="Pendidikan Moral">Pendidikan Moral</option>
<option value="Pendidikan Muzik">Pendidikan Muzik</option>
</select>

</div>
<p id="noDataMsg" style="display:none;color:red;font-weight:bold;margin-top:10px;">
Tiada data bagi mata pelajaran ini
</p>
<p id="jumlahMP" style="margin-top:8px;font-weight:bold;"></p>

<h3>1.1 Memahami kepentingan PBD</h3>
<div class="bar-chart-box">
<canvas id="chartB11"></canvas>
</div>

<h3>1.2 Menguasai konsep PBD</h3>
<div class="bar-chart-box">
<canvas id="chartB12"></canvas>
</div>

<h3>1.3 Menguasai pelaksanaan PBD</h3>
<div class="bar-chart-box">
<canvas id="chartB13"></canvas>
</div>

<h3>1.4 Menguasai kaedah pentaksiran</h3>
<div class="bar-chart-box">
<canvas id="chartB14"></canvas>
</div>

<h3>1.5 Menguasai instrumen pentaksiran</h3>
<div class="bar-chart-box">
<canvas id="chartB15"></canvas>
</div>


<h3>1.6 Memaklumkan tahap penguasaan kepada murid</h3>
<div class="chart-box">
<canvas id="chartB16"></canvas>
</div>

<h3>1.7 Memberi peluang murid ditaksir semula</h3>
<div class="chart-box">
<canvas id="chartB17"></canvas>
</div>

<h3>1.8 Penilaian kendiri PdP</h3>
<div class="chart-box">
<canvas id="chartB18"></canvas>
</div>

<h3>1.9 Merekod tahap penguasaan murid</h3>
<div class="chart-box">
<canvas id="chartB19"></canvas>
</div>

<h3>1.10 Menyediakan pelaporan TP</h3>
<div class="chart-box">
<canvas id="chartB110"></canvas>
</div>

<h3>1.11 Menyediakan instrumen ujian</h3>
<div class="chart-box">
<canvas id="chartB111"></canvas>
</div>

</div>


<!-- ======================= -->
<!-- BAHAGIAN C              -->
<!-- ======================= -->

<div id="sectionCC" class="section-content">

<h2>Bahagian C: Penjaminan Mutu</h2>

<div class="filter-box">
<label>Tapis Mata Pelajaran</label>

<select id="filterMP_C" onchange="syncFilterMP()">
<option value="SEMUA">Semua Mata Pelajaran</option>
<option value="Bahasa Melayu">Bahasa Melayu</option>
<option value="Bahasa Inggeris">Bahasa Inggeris</option>
<option value="Bahasa Arab">Bahasa Arab</option>
<option value="Matematik">Matematik</option>
<option value="Sains">Sains</option>
<option value="Sejarah">Sejarah</option>
<option value="Reka Bentuk dan Teknologi">Reka Bentuk dan Teknologi</option>
<option value="Pendidikan Jasmani Dan Kesihatan">Pendidikan Jasmani Dan Kesihatan</option>
<option value="Pendidikan Seni Visual">Pendidikan Seni Visual</option>
<option value="Pendidikan Islam">Pendidikan Islam</option>
<option value="Pendidikan Moral">Pendidikan Moral</option>
<option value="Pendidikan Muzik">Pendidikan Muzik</option>
</select>

</div>
<p id="noDataMsgC" style="display:none;color:red;font-weight:bold;margin-top:10px;">
Tiada data bagi mata pelajaran ini
</p>
<p id="jumlahMPC" style="margin-top:8px;font-weight:bold;"></p>

<h3>1.1 Merujuk Panduan PBS</h3>
<div class="chart-box">
<canvas id="chartC11"></canvas>
</div>

<h3>1.2 Merujuk Panduan PBD</h3>
<div class="chart-box">
<canvas id="chartC12"></canvas>
</div>

<h3>2.1 Menerima latihan pembangunan profesionalisme berterusan</h3>
<div class="bar-chart-box">
<canvas id="chartC21"></canvas>
</div>

<h3>2.2 Menerima bimbingan tentang pelaksanaan dan pengoperasian PBD</h3>
<div class="bar-chart-box">
<canvas id="chartC22"></canvas>
</div>

<h3>3.1 Menyediakan instrumen pentaksiran</h3>
<div class="bar-chart-box">
<canvas id="chartC31"></canvas>
</div>

<h3>3.2 Menggunakan instrumen pentaksiran</h3>
<div class="bar-chart-box">
<canvas id="chartC32"></canvas>
</div>

<h3>3.3 Memilih kaedah pentaksiran</h3>
<div class="bar-chart-box">
<canvas id="chartC33"></canvas>
</div>

<h3>3.4 Melaksanakan kaedah pentaksiran</h3>
<div class="bar-chart-box">
<canvas id="chartC34"></canvas>
</div>

<h3>4.1 Perekodan tahap penguasaan</h3>
<div class="bar-chart-box">
<canvas id="chartC41"></canvas>
</div>

<h3>4.2 Tindakan susulan</h3>
<div class="bar-chart-box">
<canvas id="chartC42"></canvas>
</div>

<h3>4.3 Penyerahan pelaporan</h3>
<div class="chart-box">
<canvas id="chartC43"></canvas>
</div>

<h3>5.1 Perbincangan panitia</h3>
<div class="bar-chart-box">
<canvas id="chartC51"></canvas>
</div>

<h3>5.2 Menentukan tahap penguasaan murid</h3>
<div class="bar-chart-box">
<canvas id="chartC52"></canvas>
</div>

</div>

</div>

<script>

function syncFilterMP(){

let mp;

/* detect source */
let sectionCC = document.getElementById("sectionCC");

const sectionCB = document.getElementById("sectionCB");

if(sectionCC && sectionCC.classList.contains("active")){
    mp = document.getElementById("filterMP_C").value;
}else if(sectionCB && sectionCB.classList.contains("active")){
    mp = document.getElementById("filterMP").value;
}else{
    mp = document.getElementById("filterMP_BC")?.value || "SEMUA";
}

/* sync semua */
[
"filterMP",
"filterMP_C",
"filterMP_B",
"filterMP_BC"
].forEach(id=>{
let el = document.getElementById(id);
if(el) el.value = mp;
});

if(document.getElementById("tabC").classList.contains("active")){
    loadLampiranC();
}

if(document.getElementById("tabB").classList.contains("active")){
    loadLampiranB();
}
}

let currentSession = "pertengahan";


/* GOOGLE SHEET */

const sheetPertengahan =
"https://docs.google.com/spreadsheets/d/e/2PACX-1vR8Tl5sDCaVKwe35rLITcvOHnLTTzfCDRxEKXE1fN4unnQyXSRKTbo4vT9OtussZJyOIFEP1bhF5M6j/pub?gid=0&single=true&output=csv";

const sheetAkhir =
"https://docs.google.com/spreadsheets/d/e/2PACX-1vR8Tl5sDCaVKwe35rLITcvOHnLTTzfCDRxEKXE1fN4unnQyXSRKTbo4vT9OtussZJyOIFEP1bhF5M6j/pub?gid=197431078&single=true&output=csv";

const sheetB_Pertengahan =
"https://docs.google.com/spreadsheets/d/e/2PACX-1vR8Tl5sDCaVKwe35rLITcvOHnLTTzfCDRxEKXE1fN4unnQyXSRKTbo4vT9OtussZJyOIFEP1bhF5M6j/pub?gid=1154001042&single=true&output=csv";

const sheetB_Akhir =
"https://docs.google.com/spreadsheets/d/e/2PACX-1vR8Tl5sDCaVKwe35rLITcvOHnLTTzfCDRxEKXE1fN4unnQyXSRKTbo4vT9OtussZJyOIFEP1bhF5M6j/pub?gid=1021309513&single=true&output=csv";

/* SESSION SWITCH */

function switchSession(session,btn){

currentSession = session;

document.querySelectorAll(".session-btn")
.forEach(b => b.classList.remove("active"));

btn.classList.add("active");

/* reload jika lampiran C sedang buka */

if(document.getElementById("tabC").classList.contains("active")){
loadLampiranC();
}

if(document.getElementById("tabB").classList.contains("active")){
loadLampiranB();
}

}


/* TAB SWITCH */

function openTab(tab,btn){

document.querySelectorAll(".tab-content")
.forEach(t => t.classList.remove("active"));

document.querySelectorAll(".tab-btn")
.forEach(b => b.classList.remove("active"));

document.getElementById("tab"+tab).classList.add("active");
btn.classList.add("active");

if(tab === "B"){
loadLampiranB();
}


if(tab === "C"){

// reset semua section dalam Lampiran C
document.querySelectorAll("#tabC .section-content")
.forEach(t => t.classList.remove("active"));

document.querySelectorAll("#tabC .section-btn")
.forEach(b => b.classList.remove("active"));

// set default Bahagian A
document.getElementById("sectionCA").classList.add("active");

// aktifkan button pertama
const btns = document.querySelectorAll("#tabC .section-btn");
if(btns.length > 0){
    btns[0].classList.add("active");
}

loadLampiranC();
}

}


/* SECTION SWITCH */

function openSectionC(section,btn){

document.querySelectorAll("#tabC .section-content")
.forEach(t => t.classList.remove("active"));

document.querySelectorAll("#tabC .section-btn")
.forEach(b => b.classList.remove("active"));

document.getElementById("sectionC"+section).classList.add("active");
btn.classList.add("active");

loadLampiranC();

}

function openSectionB(section,btn){

document.querySelectorAll("#tabB .section-content")
.forEach(t => t.classList.remove("active"));

document.querySelectorAll("#tabB .section-btn")
.forEach(b => b.classList.remove("active"));

document.getElementById("sectionB"+section).classList.add("active");
btn.classList.add("active");

loadLampiranB();

}

/* LOAD DATA LAMPIRAN B */

function loadLampiranB(){

let sheetURL;

if(currentSession === "pertengahan"){
sheetURL = sheetB_Pertengahan;
}else{
sheetURL = sheetB_Akhir;
}

fetch(sheetURL)
.then(res => res.text())
.then(data => {

/* ================================ */
/* BERMULA DI SINI KOD ANALISIS     */
/* CIKGU KEKALKAN SEPERTI ASAL      */
/* ================================ */

const parsed = Papa.parse(data, {
header: true,
skipEmptyLines: true
});

const rows = parsed.data;
const clean = v => v?.replace(/"/g,"").trim();

let selectedMP = document.getElementById("filterMP_B")?.value || "SEMUA";
let guruUnik = new Set();
/* ========================= */
/* ANALISIS BAHAGIAN A       */
/* ========================= */

const jumlahB = document.getElementById("jumlahB");
const listB = document.getElementById("listB");

if(jumlahB && listB){

listB.innerHTML = "";

let guruMap = {};

rows.forEach(row => {



const nama = clean(row["nama"]);
const mp = clean(row["mp"]);
const tahun = clean(row["tahun"]);

/* tapis mata pelajaran */

if(selectedMP !== "SEMUA" && mp !== selectedMP){
return;
}


/* TAPIS MATA PELAJARAN */











if(nama && nama.trim() !== ""){

const key = nama.trim();

if(!guruMap[key]){
guruMap[key] = {};
}

if(mp && tahun){

if(!guruMap[key][mp]){
guruMap[key][mp] = [];
}

guruMap[key][mp].push(tahun);

}

}

});

let guruList = [];

Object.keys(guruMap).forEach(nama => {

let mpList = "";

Object.keys(guruMap[nama]).forEach(mp => {

mpList += `${mp} - ${guruMap[nama][mp].join(", ")}<br>`;

});

guruList.push(`
<div class="teacher">
<b>${nama}</b><br>
${mpList}
</div>
`);

});



jumlahB.innerHTML = "<b>Jumlah respon: " + Object.keys(guruMap).length + " guru</b>";

listB.innerHTML = guruList.join("");

/* ========================= */


}



let bb11_1=0,bb11_2=0,bb11_3=0,bb11_4=0,bb11_5=0;
let bb12_1=0,bb12_2=0,bb12_3=0,bb12_4=0,bb12_5=0;
let bb13_1=0,bb13_2=0,bb13_3=0,bb13_4=0,bb13_5=0;
let bb14_1=0,bb14_2=0,bb14_3=0,bb14_4=0,bb14_5=0;
let bb15_1=0,bb15_2=0,bb15_3=0,bb15_4=0,bb15_5=0;
let bb16ya=0,bb16tidak=0;
let bb17ya=0,bb17tidak=0;
let bc11ya=0,bc11tidak=0;
let bc12ya=0,bc12tidak=0;

let bc21_1=0,bc21_2=0,bc21_3=0,bc21_4=0,bc21_5=0;
let bc22_1=0,bc22_2=0,bc22_3=0,bc22_4=0,bc22_5=0;





rows.forEach(row => {

const nama = clean(row["nama"]);
const mp = clean(row["mp"]);
const tahun = clean(row["tahun"]);

if(selectedMP !== "SEMUA" && mp !== selectedMP){
return;
}

  
const q11bb = clean(row["1.1_b"]);
const q12bb = clean(row["1.2_b"]);
const q13bb = clean(row["1.3_b"]);
const q14bb = clean(row["1.4_b"]);
const q15bb = clean(row["1.5_b"]);
const q16bb = clean(row["1.6_b"]);
const q17bb = clean(row["1.7_b"]);
const q11bc = clean(row["1.1_c"]);
const q12bc = clean(row["1.2_c"]);
const q21bc = clean(row["2.1_c"]);


if(nama && nama.trim() !== ""){

guruUnik.add(nama.trim());   // TAMBAH BARIS INI



const skor11b = Number(q11bb);
const skor12b = Number(q12bb);
const skor13b = Number(q13bb);
const skor14b = Number(q14bb);
const skor15b = Number(q15bb);
const skor16b = Number(q16bb);
const skor17b = Number(q17bb);
const skor21b = Number(q21bc);


if(skor11b === 1) bb11_1++;
if(skor11b === 2) bb11_2++;
if(skor11b === 3) bb11_3++;
if(skor11b === 4) bb11_4++;
if(skor11b === 5) bb11_5++;

if(skor12b === 1) bb12_1++;
if(skor12b === 2) bb12_2++;
if(skor12b === 3) bb12_3++;
if(skor12b === 4) bb12_4++;
if(skor12b === 5) bb12_5++;

if(skor13b === 1) bb13_1++;
if(skor13b === 2) bb13_2++;
if(skor13b === 3) bb13_3++;
if(skor13b === 4) bb13_4++;
if(skor13b === 5) bb13_5++;

if(skor14b === 1) bb14_1++;
if(skor14b === 2) bb14_2++;
if(skor14b === 3) bb14_3++;
if(skor14b === 4) bb14_4++;
if(skor14b === 5) bb14_5++;

if(skor15b === 1) bb15_1++;
if(skor15b === 2) bb15_2++;
if(skor15b === 3) bb15_3++;
if(skor15b === 4) bb15_4++;
if(skor15b === 5) bb15_5++;

if(q16bb?.trim() === "Ya") bb16ya++;
if(q16bb?.trim() === "Tidak") bb16tidak++;

if(q17bb?.trim() === "Ya") bb17ya++;
if(q17bb?.trim() === "Tidak") bb17tidak++;

if(q11bc?.trim() === "Ya") bc11ya++;
if(q11bc?.trim() === "Tidak") bc11tidak++;

if(q12bc?.trim() === "Ya") bc12ya++;
if(q12bc?.trim() === "Tidak") bc12tidak++;

if(skor21b === 1) bc21_1++;
if(skor21b === 2) bc21_2++;
if(skor21b === 3) bc21_3++;
if(skor21b === 4) bc21_4++;
if(skor21b === 5) bc21_5++;

}
});

let msg;
let jumlahBox;


msg = document.getElementById("noDataMsgB");
jumlahBox = document.getElementById("jumlahMP_B");


jumlahBox.innerHTML =
"Jumlah respon: " + guruUnik.size + " guru";

if(guruUnik.size === 0){
msg.style.display = "block";

/* kosongkan graf */

bb11_1=bb11_2=bb11_3=bb11_4=bb11_5=0;
bb12_1=bb12_2=bb12_3=bb12_4=bb12_5=0;
bb13_1=bb13_2=bb13_3=bb13_4=bb13_5=0;
bb14_1=bb14_2=bb14_3=bb14_4=bb14_5=0;
bb15_1=bb15_2=bb15_3=bb15_4=bb15_5=0;
bb16ya=bb16tidak=0;
bb17ya=bb17tidak=0;
bc11ya=bc11tidak=0;
bc21_1=bc21_2=bc21_3=bc21_4=bc21_5=0;



}else{

msg.style.display = "none";

}



Chart.getChart("chartBB11")?.destroy();
new Chart(document.getElementById("chartBB11"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[bb11_1,bb11_2,bb11_3,bb11_4,bb11_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartBB12")?.destroy();
new Chart(document.getElementById("chartBB12"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[bb12_1,bb12_2,bb12_3,bb12_4,bb12_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartBB13")?.destroy();
new Chart(document.getElementById("chartBB13"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[bb13_1,bb13_2,bb13_3,bb13_4,bb13_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartBB14")?.destroy();
new Chart(document.getElementById("chartBB14"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[bb14_1,bb14_2,bb14_3,bb14_4,bb14_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartBB15")?.destroy();
new Chart(document.getElementById("chartBB15"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[bb15_1,bb15_2,bb15_3,bb15_4,bb15_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartBB16")?.destroy();
new Chart(document.getElementById("chartBB16"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[bb16ya,bb16tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartBB17")?.destroy();
new Chart(document.getElementById("chartBB17"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[bb17ya,bb17tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartBC11")?.destroy();
new Chart(document.getElementById("chartBC11"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[bc11ya,bc11tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartBC12")?.destroy();
new Chart(document.getElementById("chartBC12"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[bc12ya,bc12tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartBC21")?.destroy();
new Chart(document.getElementById("chartBC21"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[bc21_1,bc21_2,bc21_3,bc21_4,bc21_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});



});  // tutup .then()

}  // tutup function loadLampiranB()




/* LOAD DATA LAMPIRAN C */

function loadLampiranC(){

let sheetURL;

if(currentSession === "pertengahan"){
sheetURL = sheetPertengahan;
}else{
sheetURL = sheetAkhir;
}

fetch(sheetURL)
.then(res => res.text())
.then(data => {

/* ================================ */
/* BERMULA DI SINI KOD ANALISIS     */
/* CIKGU KEKALKAN SEPERTI ASAL      */
/* ================================ */

const parsed = Papa.parse(data, {
header: true,
skipEmptyLines: true
});

const rows = parsed.data;
const clean = v => v?.replace(/"/g,"").trim();
let selectedMP;

const sectionCC = document.getElementById("sectionCC");

if(sectionCC && sectionCC.classList.contains("active")){
selectedMP = document.getElementById("filterMP_C")?.value || "SEMUA";
}else{
selectedMP = document.getElementById("filterMP")?.value || "SEMUA";
}
let guruUnik = new Set();
/* ========================= */
/* ANALISIS BAHAGIAN A       */
/* ========================= */

const jumlahA = document.getElementById("jumlahCA");
const listA = document.getElementById("listCA");

if(jumlahA && listA){

listA.innerHTML = "";

let guruMap = {};

rows.forEach(row => {



const nama = clean(row["nama"]);
const mp = clean(row["mp"]);
const tahun = clean(row["tahun"]);

/* tapis mata pelajaran */

if(selectedMP !== "SEMUA" && mp !== selectedMP){
return;
}


/* TAPIS MATA PELAJARAN */




if(nama && nama.trim() !== ""){
guruUnik.add(nama.trim());
}






if(nama && nama.trim() !== ""){

const key = nama.trim();

if(!guruMap[key]){
guruMap[key] = {};
}

if(mp && tahun){

if(!guruMap[key][mp]){
guruMap[key][mp] = [];
}

guruMap[key][mp].push(tahun);

}

}

});

let guruList = [];

Object.keys(guruMap).forEach(nama => {

let mpList = "";

Object.keys(guruMap[nama]).forEach(mp => {

mpList += `${mp} - ${guruMap[nama][mp].join(", ")}<br>`;

});

guruList.push(`
<div class="teacher">
<b>${nama}</b><br>
${mpList}
</div>
`);

});



jumlahA.innerHTML = "<b>Jumlah respon: " + Object.keys(guruMap).length + " guru</b>";

listA.innerHTML = guruList.join("");

}




/* selepas ini semua kod cikgu kekal */






let b11_1=0,b11_2=0,b11_3=0,b11_4=0,b11_5=0;
let b12_1=0,b12_2=0,b12_3=0,b12_4=0,b12_5=0;
let b13_1=0,b13_2=0,b13_3=0,b13_4=0,b13_5=0;
let b14_1=0,b14_2=0,b14_3=0,b14_4=0,b14_5=0;
let b15_1=0,b15_2=0,b15_3=0,b15_4=0,b15_5=0;
let b16ya=0,b16tidak=0;
let b17ya=0,b17tidak=0;
let b18ya=0,b18tidak=0;
let b19ya=0,b19tidak=0;
let b110ya=0,b110tidak=0;
let b111ya=0,b111tidak=0;

let c11ya=0,c11tidak=0;
let c12ya=0,c12tidak=0;

let c21_1=0,c21_2=0,c21_3=0,c21_4=0,c21_5=0;
let c22_1=0,c22_2=0,c22_3=0,c22_4=0,c22_5=0;
let c31_1=0,c31_2=0,c31_3=0,c31_4=0,c31_5=0;
let c32_1=0,c32_2=0,c32_3=0,c32_4=0,c32_5=0;
let c33_1=0,c33_2=0,c33_3=0,c33_4=0,c33_5=0;
let c34_1=0,c34_2=0,c34_3=0,c34_4=0,c34_5=0;

let c41_1=0,c41_2=0,c41_3=0,c41_4=0,c41_5=0;
let c42_1=0,c42_2=0,c42_3=0,c42_4=0,c42_5=0;

let c43ya=0,c43tidak=0;

let c51_1=0,c51_2=0,c51_3=0,c51_4=0,c51_5=0;
let c52_1=0,c52_2=0,c52_3=0,c52_4=0,c52_5=0;


rows.forEach(row => {

const nama = clean(row["nama"]);
const mp = clean(row["mp"]);
const tahun = clean(row["tahun"]);

if(selectedMP !== "SEMUA" && mp !== selectedMP){
return;
}

  
const q11b = clean(row["1.1_b"]);
const q12b = clean(row["1.2_b"]);
const q13b = clean(row["1.3_b"]);
const q14b = clean(row["1.4_b"]);
const q15b = clean(row["1.5_b"]);
const q16b = clean(row["1.6_b"]);
const q17b = clean(row["1.7_b"]);
const q18b = clean(row["1.8_b"]);
const q19b = clean(row["1.9_b"]);
const q110b = clean(row["1.10_b"]);
const q111b = clean(row["1.11_b"]);

const q11c = clean(row["1.1_c"]);
const q12c = clean(row["1.2_c"]);

const q21c = clean(row["2.1_c"]);
const q22c = clean(row["2.2_c"]);

const q31c = clean(row["3.1_c"]);
const q32c = clean(row["3.2_c"]);
const q33c = clean(row["3.3_c"]);
const q34c = clean(row["3.4_c"]);

const q41c = clean(row["4.1_c"]);
const q42c = clean(row["4.2_c"]);
const q43c = clean(row["4.3_c"]);

const q51c = clean(row["5.1_c"]);
const q52c = clean(row["5.2_c"]);

if(nama && nama.trim() !== ""){

guruUnik.add(nama.trim());   // TAMBAH INI



/* 1.1 */

const skor11 = Number(q11b);

if(skor11 === 1) b11_1++;
if(skor11 === 2) b11_2++;
if(skor11 === 3) b11_3++;
if(skor11 === 4) b11_4++;
if(skor11 === 5) b11_5++;

/* 1.2 */



const skor12 = Number(q12b);

if(skor12 === 1) b12_1++;
if(skor12 === 2) b12_2++;
if(skor12 === 3) b12_3++;
if(skor12 === 4) b12_4++;
if(skor12 === 5) b12_5++;

/* 1.3 */

const skor13 = Number(q13b);
if(skor13 === 1) b13_1++;
if(skor13 === 2) b13_2++;
if(skor13 === 3) b13_3++;
if(skor13 === 4) b13_4++;
if(skor13 === 5) b13_5++;

/* 1.4 */

const skor14 = Number(q14b);
if(skor14 === 1) b14_1++;
if(skor14 === 2) b14_2++;
if(skor14 === 3) b14_3++;
if(skor14 === 4) b14_4++;
if(skor14 === 5) b14_5++;

/* 1.5 */

const skor15 = Number(q15b);
if(skor15 === 1) b15_1++;
if(skor15 === 2) b15_2++;
if(skor15 === 3) b15_3++;
if(skor15 === 4) b15_4++;
if(skor15 === 5) b15_5++;
/* 1.6 */


if(q16b?.trim() === "Ya") b16ya++;
if(q16b?.trim() === "Tidak") b16tidak++;
/* 1.7 */

if(q17b?.trim() === "Ya") b17ya++;
if(q17b?.trim() === "Tidak") b17tidak++;

/* 1.8 */

if(q18b?.trim() === "Ya") b18ya++;
if(q18b?.trim() === "Tidak") b18tidak++;

/* 1.9 */

if(q19b?.trim() === "Ya") b19ya++;
if(q19b?.trim() === "Tidak") b19tidak++;

/* 1.10 */

if(q110b?.trim() === "Ya") b110ya++;
if(q110b?.trim() === "Tidak") b110tidak++;

/* 1.11 */

if(q111b?.trim() === "Ya") b111ya++;
if(q111b?.trim() === "Tidak") b111tidak++;

/* 1.1_c*/

if(q11c?.trim() === "Ya") c11ya++;
if(q11c?.trim() === "Tidak") c11tidak++;

/* 1.2_c */

if(q12c?.trim() === "Ya") c12ya++;
if(q12c?.trim() === "Tidak") c12tidak++;

/* 2.1_c */

const skor21 = Number(q21c);

if(skor21 === 1) c21_1++;
if(skor21 === 2) c21_2++;
if(skor21 === 3) c21_3++;
if(skor21 === 4) c21_4++;
if(skor21 === 5) c21_5++;

/* 2.2_c */

const skor22 = Number(q22c);

if(skor22 === 1) c22_1++;
if(skor22 === 2) c22_2++;
if(skor22 === 3) c22_3++;
if(skor22 === 4) c22_4++;
if(skor22 === 5) c22_5++;

/* 3.1_c */

const skor31 = Number(q31c);

if(skor31 === 1) c31_1++;
if(skor31 === 2) c31_2++;
if(skor31 === 3) c31_3++;
if(skor31 === 4) c31_4++;
if(skor31 === 5) c31_5++;

/* 3.2_c */

const skor32 = Number(q32c);

if(skor32 === 1) c32_1++;
if(skor32 === 2) c32_2++;
if(skor32 === 3) c32_3++;
if(skor32 === 4) c32_4++;
if(skor32 === 5) c32_5++;

/* 3.3_c */

const skor33 = Number(q33c);

if(skor33 === 1) c33_1++;
if(skor33 === 2) c33_2++;
if(skor33 === 3) c33_3++;
if(skor33 === 4) c33_4++;
if(skor33 === 5) c33_5++;

/* 3.4_c */

const skor34 = Number(q34c);

if(skor34 === 1) c34_1++;
if(skor34 === 2) c34_2++;
if(skor34 === 3) c34_3++;
if(skor34 === 4) c34_4++;
if(skor34 === 5) c34_5++;


/* 4.1_c */

const skor41 = Number(q41c);

if(skor41 === 1) c41_1++;
if(skor41 === 2) c41_2++;
if(skor41 === 3) c41_3++;
if(skor41 === 4) c41_4++;
if(skor41 === 5) c41_5++;
  
/* 4.2_c */

const skor42 = Number(q42c);

if(skor42 === 1) c42_1++;
if(skor42 === 2) c42_2++;
if(skor42 === 3) c42_3++;
if(skor42 === 4) c42_4++;
if(skor42 === 5) c42_5++;

/* 4.3_c */

if(q43c?.trim() === "Ya") c43ya++;
if(q43c?.trim() === "Tidak") c43tidak++;

/* 5.1_c */

const skor51 = Number(q51c);

if(skor51 === 1) c51_1++;
if(skor51 === 2) c51_2++;
if(skor51 === 3) c51_3++;
if(skor51 === 4) c51_4++;
if(skor51 === 5) c51_5++;
  
/* 5.2_c */

const skor52 = Number(q52c);

if(skor52 === 1) c52_1++;
if(skor52 === 2) c52_2++;
if(skor52 === 3) c52_3++;
if(skor52 === 4) c52_4++;
if(skor52 === 5) c52_5++;

}
});

let msg;
let jumlahBox;

const sectionCC = document.getElementById("sectionCC");

if(sectionCC && sectionCC.classList.contains("active")){
msg = document.getElementById("noDataMsgC");
jumlahBox = document.getElementById("jumlahMPC");
}else{
msg = document.getElementById("noDataMsg");
jumlahBox = document.getElementById("jumlahMP");
}

jumlahBox.innerHTML =
"Jumlah respon: " + guruUnik.size + " guru";

if(guruUnik.size === 0){
msg.style.display = "block";

/* kosongkan graf */

b11_1=b11_2=b11_3=b11_4=b11_5=0;
b12_1=b12_2=b12_3=b12_4=b12_5=0;
b13_1=b13_2=b13_3=b13_4=b13_5=0;
b14_1=b14_2=b14_3=b14_4=b14_5=0;
b15_1=b15_2=b15_3=b15_4=b15_5=0;

b16ya=b16tidak=0;
b17ya=b17tidak=0;
b18ya=b18tidak=0;
b19ya=b19tidak=0;
b110ya=b110tidak=0;
b111ya=b111tidak=0;

}else{

msg.style.display = "none";

}

Chart.getChart("chartB11")?.destroy();
new Chart(document.getElementById("chartB11"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[b11_1,b11_2,b11_3,b11_4,b11_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartB12")?.destroy();

new Chart(document.getElementById("chartB12"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[b12_1,b12_2,b12_3,b12_4,b12_5],
backgroundColor:"#9b59b6"
}]
},
options:{
responsive:true,
maintainAspectRatio:false,
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartB13")?.destroy();

new Chart(document.getElementById("chartB13"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[b13_1,b13_2,b13_3,b13_4,b13_5],
backgroundColor:"#9b59b6"
}]
},
options:{
responsive:true,
maintainAspectRatio:false,
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartB14")?.destroy();

new Chart(document.getElementById("chartB14"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[b14_1,b14_2,b14_3,b14_4,b14_5],
backgroundColor:"#9b59b6"
}]
},
options:{
responsive:true,
maintainAspectRatio:false,
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartB15")?.destroy();

new Chart(document.getElementById("chartB15"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[b15_1,b15_2,b15_3,b15_4,b15_5],
backgroundColor:"#9b59b6"
}]
},
options:{
responsive:true,
maintainAspectRatio:false,
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartB16")?.destroy();
new Chart(document.getElementById("chartB16"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[b16ya,b16tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartB17")?.destroy();
new Chart(document.getElementById("chartB17"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[b17ya,b17tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartB18")?.destroy();
new Chart(document.getElementById("chartB18"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[b18ya,b18tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartB19")?.destroy();
new Chart(document.getElementById("chartB19"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[b19ya,b19tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartB110")?.destroy();
new Chart(document.getElementById("chartB110"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[b110ya,b110tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartB111")?.destroy();
new Chart(document.getElementById("chartB111"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[b111ya,b111tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartC11")?.destroy();
new Chart(document.getElementById("chartC11"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[c11ya,c11tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartC12")?.destroy();
new Chart(document.getElementById("chartC12"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[c12ya,c12tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartC21")?.destroy();
new Chart(document.getElementById("chartC21"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c21_1,c21_2,c21_3,c21_4,c21_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC22")?.destroy();
new Chart(document.getElementById("chartC22"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c22_1,c22_2,c22_3,c22_4,c22_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC31")?.destroy();
new Chart(document.getElementById("chartC31"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c31_1,c31_2,c31_3,c31_4,c31_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC32")?.destroy();
new Chart(document.getElementById("chartC32"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c32_1,c32_2,c32_3,c32_4,c32_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC33")?.destroy();
new Chart(document.getElementById("chartC33"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c33_1,c33_2,c33_3,c33_4,c33_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC34")?.destroy();
new Chart(document.getElementById("chartC34"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c34_1,c34_2,c34_3,c34_4,c34_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC41")?.destroy();
new Chart(document.getElementById("chartC41"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c41_1,c41_2,c41_3,c41_4,c41_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC42")?.destroy();
new Chart(document.getElementById("chartC42"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c42_1,c42_2,c42_3,c42_4,c42_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC43")?.destroy();
new Chart(document.getElementById("chartC43"),{
type:"pie",
data:{
labels:["Ya","Tidak"],
datasets:[{
data:[c43ya,c43tidak],
backgroundColor:["#2ecc71","#e74c3c"]
}]
},
options:{
plugins:{
legend:{position:"bottom"},
datalabels:{
color:"#fff",
font:{
weight:"bold",
size:14
},
formatter:(value,context)=>{
let total = context.chart.data.datasets[0].data.reduce((a,b)=>a+b,0);
return (value/total*100).toFixed(1)+"%";
}
}
}
},
plugins:[ChartDataLabels]
});

Chart.getChart("chartC51")?.destroy();
new Chart(document.getElementById("chartC51"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c51_1,c51_2,c51_3,c51_4,c51_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

Chart.getChart("chartC52")?.destroy();
new Chart(document.getElementById("chartC52"),{
type:"bar",
data:{
labels:["1","2","3","4","5"],
datasets:[{
data:[c52_1,c52_2,c52_3,c52_4,c52_5],
backgroundColor:"#3498db"
}]
},
options:{
plugins:{legend:{display:false}},
scales:{y:{beginAtZero:true}}
}
});

});  // tutup .then()

}  // tutup function loadLampiranC()


document.addEventListener("DOMContentLoaded", function(){
loadLampiranC();
loadLampiranB();
});




</script>

</body>
</html>
